.container {
  width: 100%;
  height: 100vh;

  .boxForm {
    max-width: 60%;
    margin: auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;

    .boxLabel {
      display: flex;
      justify-content: space-between;
    }
    .btnEdit {
      // height: 33px;
      // width: 33px;
    }
    .labelInfo {
      font-size: 20px;
      margin-bottom: 30px;
    }
    .btnSave {
      width: 70px;
    }
    .btnCancel {
      width: 70px;
      margin-right: 20px;
    }
    .boxButton {
      display: flex;
      width: auto;
    }
  }
}
