.aboutPage {
  margin-top: 40px;
  margin-left: 10%;
  margin-right: 10%;
  display: flex;
  flex: 1;
  flex-direction: row;

  .boxLeft {
    width: 50%;
    border-width: 0.5px;
    border-color: #cdcdcd;
    border-radius: 6px;
    padding: 12px;
    margin-right: 10px;
    margin-bottom: 16px;

    .about {
      font-size: 20px;
      margin-bottom: 10px;
    }
    .cty {
      font-weight: 700;
      font-size: 20px;
      color: #4a4a4a;
    }
    .boxAbout {
      display: flex;
      margin-top: 6px;
    }
    .boxPhoneEmail {
      display: flex;
      margin-top: 6px;
    }
    .textBold {
      font-weight: bold;
      margin-right: 6px;
    }
    .dot {
      margin-left: 10px;
      margin-right: 10px;
    }
  }
  .boxRight {
    width: 50%;
    height: 200px;
  }
}

@media screen and (max-width: 414px) {
  .aboutPage {
    margin-top: 40px;
    margin-left: 10%;
    margin-right: 10%;
    flex: 1;
    display: block;

    .boxLeft {
      width: 100%;

      .cty {
        font-weight: 700;
        font-size: 18px;
        color: #4a4a4a;
      }
      .boxAbout {
        display: block;
        margin-top: 6px;
      }
      .boxPhoneEmail {
        display: flex;
        margin-top: 6px;
      }
      .textBold {
        font-weight: bold;
        margin-right: 6px;
      }
      .dot {
        display: none;
      }
    }

    .boxRight {
      width: 100%;
      height: 200px;
    }
  }
}
