.container {
  margin-bottom: 45px;
  .title {
    font-size: 18px;
    line-height: 22px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 6px;
    text-align: center;
  }
  .price {
    color: #9f9f9f;
    text-align: center;
  }
}
