.container {
  width: 100%;
  height: 400px;
  align-items: center;
  .imageBanner {
    width: 100%;
    height: 400px;
    object-fit: fill;
  }
  .boxContent {
    position: absolute;
    top: 100px;
    margin-left: 6%;
    .welcome {
      font-size: 32px;
      color: #fff;
    }
  }
}

.boxItemBanner {
  display: flex;
  flex: 1;
  margin-top: 10px;
  .value {
    margin-bottom: 5px;
    font-size: 14px;
    color: #fff;
  }
  .icon {
    margin-top: 2px;
    margin-right: 5px;
  }
}
